<h2>Burn Down <span class="pull-right">{{vm.timer}}</span></h2>

<!-- <pre>{{vm.labels | json}}</pre> -->


<div style="width: 100%; height: 300px";>

  <canvas
    id="line"
    class="chart chart-line"
    chart-data="vm.data"
    chart-labels="vm.labels"
    chart-series="vm.series"
    chart-options="vm.options"
    chart-colors="vm.colors"
    chart-dataset-override="vm.datasetOverride"
    chart-click="vm.onClick">
  </canvas>

</div>


<!-- <div class="timer" style="{font-size: 18px;}">
  {{vm.timer}}
</div> -->
